body{
    background-image: linear-gradient(to right,#00aaff,#5577ff);
    padding: 1.5rem;
}
.formBox{
    padding: 3rem;
    background-image: linear-gradient(to left, #f8f8f8,#ffffff);
    border-radius: 1.5rem;
    /* border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-image: url('../../../assets/signup-bg.jpg'); */
    
}
.imageBox{
    padding: 4rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;

}
.title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}
.btn-color{
    background:#ff9800;
    background-image: linear-gradient(to right,#00aaff,#5577ff);
    
    border-radius: 1.5rem;
}
.btn-color:hover{
    background-image: linear-gradient(to left,#00afff,#5577fa);
}
.color{
    color:#a5a8ac
}
/* .bg-image{
    background-image: url('../../../assets/bg-01.jpg');
    opacity: 0.6;
} */
.text-white{
    color: rgba(255, 255, 255, 1)
}
.backBox{
    background-image: url('../../../assets/signup-bg.jpg');
   
}
